 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knight list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
 <div class="container">
 
 
    <table class="table" style="position:absolute;left:200px">
        <thead>
            <tr>
                <td>Chefs</td>
            </tr>

        </thead>
        <tbody>
        <tr th:each="chefs : ${lchefs}"> 
  		<td th:if="${chefs.name!='-'}">
            <td th:text="${chefs.id}"></td>
            <td th:text="${chefs.name}"></td>
            <td th:text="${chefs.age}"></td>
            <td><a th:href="${'/update?id='+chefs.id}">update</a></td>
 		</td>
        </tr> 
        </tbody>
    </table>
    </div>
<bod>
</bod>
</body></html>