 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knight list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
 <div class="container">
 
 
    <table class="table" style="position:absolute;left:200px">
        <thead>
            <tr>
                <td>Guru's activist</td>
            </tr>

        </thead>
        <tbody>
        <tr th:each=" person : ${persons}"> 
            <td th:text="${person.name} "></td> </tr>
			<tr th:each="gurut : ${gurutasks} ">
	             <td th:text="${gurut.descr} "></td></tr>
 		
        </tbody>
    </table>
    </div>
<bod>
</bod>
</body></html>